@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --first-color: black;
    --second-color: #F5A623;
    --white-color: #ededed;

    --body-font: 'Open Sans', sans-serif;
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltrip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0.5rem;
    padding: 1rem 0 0 16rem;
    padding-left: 228px;
    font-family: var(--body-font);
    min-height: 100vh;
    background: var(--white-color);
    transition: 0.5s
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;

}

a {
    text-decoration: none;
}

/* drop menu profile */

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #333;
}

.noti-icon,
#cart-icon {
    font-size: 150%;
    cursor: pointer;
    color: var(--white-color);
}

.header-page {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    z-index: 201;
}

.header-page-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}


.user-pic-in {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.drop-menu-profile {
    position: fixed;
    top: 30px;
    right: 45px;
    background-color: var(--first-color);
    border: 1px solid #444;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    overflow: hidden;
    flex-direction: column;
    z-index: var(--z-modal);
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;

}

.drop-menu-profile.active {
    transform: scale(1);
}

.drop-menu-profile a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.drop-menu-profile a:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.drop-menu-profile a ion-icon {
    margin-right: 8px;
}

.drop-menu-profile a .user-pic-in {
    margin-right: 8px;
}

#search-info {
    position: absolute;
    top: 16px;
    right: 200px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    padding: 5px 10px;
}

#icon-search {
    position: absolute;
    top: 22px;
    right: 210px;
    color: black;
    cursor: pointer;
}

/* list bicycle */
#container-lib {
    position: relative;
    top: 50px;
    z-index: 97;
}

.filter-by-status {
    position: absolute;
    width: 200px;
    height: 45px;
    top: 30px;
    left: 270px;
    width: 400px;
    text-align: center;
    background-color: #867f7f;
    border-radius: 5px;
    cursor: pointer;
}

.filter-by-status div {
    font-size: 18px;
    color: #dedede;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

#chevron-filter-status {
    position: absolute;
    font-size: 200%;
    right: 5px;
    top: 6px;
    color: #dedede;
}

#option-filter-status {
    position: absolute;
    padding: 0;
    width: 200px;
    height: 88px;
    top: 15px;
    left: 270px;
    width: 400px;
    text-align: center;
    background-color: #867f7f;
    border-radius: 5px;
    cursor: pointer;
    z-index: 200;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#option-filter-status.active {
    transform: scale(1) translateY(0);
    opacity: 1;
}

#option-filter-status div {
    font-size: 18px;
    color: #dedede;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #444;
}

#option-filter-status div:hover {
    background-color: black;
}

#list-bicycle {
    position: relative;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 75%;
    background-color: #d6d2d2;
    box-shadow: 2px -2px 4px #444;
    border-radius: 5px;
}

#list-bicycle li {
    flex-basis: 25%;
    margin: 20px 0;
    padding: 10px 10px;
    position: relative;
    border-left: 1px solid #bebebe;
}

.bicycle-top {
    color: #444;
    border-bottom: 1px solid #bebebe;
    width: 200px;
    height: 160px;
}

.bicycle-info-name {
    line-height: 25px;
}

.bicycle-info .brand {
    line-height: 10px;
}

#list-bicycle li img {
    max-width: 90%;
    max-height: 90%;
    transition: all 0.3s ease;
}

#list-bicycle li img:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 4px #444;
}

.bicycle-info {
    line-height: 8px;
}

.add-to-cart {
    position: absolute;
    bottom: -30px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #444;
    color: var(--white-color);
}

.add-to-cart:hover {
    background-color: var(--first-color);
}

.cart {
    margin-right: 6px;
}

/* see preview bicycle */
.view-detail {
    position: absolute;
    top: -200px;
    right: -150px;
    background-color: #a2a2a2;
    text-align: left;
    height: 280px;
    width: 250px;
    padding-left: 10px;
    line-height: 8px;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(0);
}

.bicycle-picture {
    position: relative;
    box-shadow: 1px 2px 4px #444;
    width: 80%;
}

.bicycle-picture:hover .view-detail {
    transform: scale(1);
    z-index: 300;
}

.view-detail h2 {
    position: relative;
    top: 0px;
    line-height: 20px;
    word-wrap: break-word;
}

.view-detail .status-rate {
    position: relative;
    top: -25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
}

.icon-star {
    position: absolute;
    top: 5px;
    margin-left: 2px;
}

.status-bicycle {
    color: green;
    font-weight: bold;
}

.rate-bicycle {
    color: yellow;
    left: -15px;
}

.view-detail .status-rate li {
    flex-basis: 50%;
    border: none;
}

.view-detail p {
    position: relative;
    top: -45px;
    margin-top: 10px;
    color: var(--first-color);
}

.content-preview {
    position: relative;
    width: 100%;
    height: 55px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* see details of bicycle */
#title-details-bicycle {
    position: fixed;
    top: 15%;
    left: 35%;
    width: 500px;
    height: 40px;
    background-color: black;
    z-index: 502;
    font-size: 24px;
    font-weight: bolder;
    border: 1px solid #dedede;
    border-left: none;
    border-right: none;
    border-top: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #dedede;
    z-index: 502;
    display: none;
    transition: 0.3s;
}

#close-details-bicycle {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #cbdcf5;
    cursor: pointer;
    z-index: 503;
}

#close-details-bicycle:hover {
    background-color: var(--second-color);
    color: #020e1f;
}

.see-bicycle-details {
    position: fixed;
    border-radius: 8px;
    left: 35%;
    top: 20%;
    width: 500px;
    height: 500px;
    padding-right: 5px;
    background-color: black;
    border-radius: 2px solid #333;
    box-shadow: 2px 2px 8px #333;
    z-index: 501;
    color: var(--white-color);
    overflow-y: auto;
    overflow-x: hidden;
    transform: scale(0);
    transition: transform .3s ease;
}

.see-bicycle-details.active {
    transform: scale(1);
}

.see-bicycle-details #picture-bicycle {
    position: relative;
    top: 10px;
    width: 150px;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;

}

.see-bicycle-details h2 {
    position: relative;
    max-width: 55%;
    height: 75px;
    top: -170px;
    left: 180px;
    margin-bottom: 10px;
}

.details-overview p {
    position: relative;
    top: -90px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;

}

#rate-count {
    position: absolute;
    top: 100px;
    left: 175px;
    cursor: pointer;
}

.count-star {
    color: gray;
}

#section-cmt {
    display: flex;
    align-items: flex-start;
}

.user-pic-cmt {
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 85px;
    border-radius: 50%;
    left: 10px;
    cursor: pointer;

}

#cmt-input {
    position: relative;
    bottom: 85px;
    left: 15px;
    width: 85%;
    min-height: 30px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
}

#btn-post-cmt {
    position: relative;
    width: 85%;
    height: 27px;
    background-color: #a8a5a5;
    top: -85px;
    left: 55px;
    margin-bottom: 20px;
}

#text-post-cmt {
    position: absolute;
    display: inline-block;
    background-color: rgb(32, 117, 255);
    padding-top: 1px;
    top: 3px;
    right: 3px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    border: 1px solid #333;
}

#text-post-cmt:hover {
    background-color: var(--second-color);
}

.area-content-cmt {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.cmt-content {
    position: relative;
    max-width: 100%;
    margin-left: 20px;
    bottom: 90px;
}

.cmt-content p {
    margin: 0;
    z-index: 501;
}

.usernameF {
    font-weight: bold;
    color: #aaa5a5;
    cursor: pointer;
}

.usernameF:hover {
    text-decoration: underline;
}

.time-cmt {
    font-size: 12px;
    color: #a2a2a2;
    font-weight: 500;
}

.chevron-icon {
    position: absolute;
    right: 0px;
    top: -85px;
    cursor: pointer;
}

.delete-edit-cmt {
    position: absolute;
    top: -80px;
    left: 365px;
    width: 100px;
    height: 38px;
    z-index: 500;
    border-radius: 4px;
    padding: 0;
    font-weight: 550;
    background-color: #aeabab;
    display: none;
}

.delete-edit-cmt li {
    border-bottom: 1px solid #949191;
    cursor: pointer;
    padding: 0px;
    padding-top: 1px;
}

.delete-edit-cmt li:hover {
    background-color: #333;
    color: var(--white-color);
}

#confirm-actions {
    position: fixed;
    width: 250px;
    height: 80px;
    top: 300px;
    left: 640px;
    z-index: 504;
    display: none;
}

#actions {
    position: relative;

}

#actions span {
    position: absolute;
    background-color: #878282;
    cursor: pointer;
    border: 1px solid #444;
    font-weight: bold;
}

#actions span:hover {
    background-color: #333;
    color: var(--white-color);
}

#confirm {
    width: 70px;
    bottom: -30px;
    left: 40px;
    display: inline-block;
}

#back {
    width: 70px;
    bottom: -30px;
    left: 130px;
    background-color: #444;
}

#btn-edit-content {
    position: fixed;
    width: 300px;
    height: 100px;
    z-index: 1000;
    top: 40%;
    left: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

#actions-edit {
    position: relative;

}

#actions-edit span {
    position: absolute;
    background-color: #878282;
    cursor: pointer;
    border: 1px solid #444;
    font-weight: bold;
}

#actions-edit span:hover {
    background-color: #333;
    color: var(--white-color);
}

#confirm-to-edit {
    width: 70px;
    bottom: -30px;
    left: 50px;
    display: inline-block;
}

#delete-action {
    width: 70px;
    bottom: -30px;
    left: 140px;
    background-color: #444;
}

#content-to-edit {
    padding: 5px;
}

.notification {
    position: fixed;
    top: -110px;
    left: 55%;
    transform: translateX(-50%);
    display: inline-block;
    white-space: nowrap;
    width: auto;
    background-color: #41eea0;
    color: black;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
    transition: top 0.5s ease-in-out;
}

.notification.show {
    top: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 500;
}

.overlay.active {
    display: block;
}

.no-scroll {
    overflow: hidden;
}

#title-cart {
    position: fixed;
    top: 12%;
    right: 10%;
    width: 80%;
    height: 8%;
    background-color: #c7bdbd;
    z-index: 502;
    font-size: 24px;
    font-weight: bolder;
    border: 2px solid #444;
    border-left: none;
    border-right: none;
    border-top: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 2px -2px 8px #444;
    z-index: 502;
    display: none;
    transition: 0.3s;
}

#title-cart.active {
    display: block;
}

#close-cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    color: #dedede;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #020e1f;
    cursor: pointer;
    z-index: 503;
}

#close-cart:hover {
    background-color: var(--second-color);
    color: #020e1f;
}

#in-cart {
    position: fixed;
    top: 18%;
    right: 10%;
    width: 80%;
    height: 80%;
    background-color: #c9c0c0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 8px #333;
    padding: 30px 10px 10px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 501;
    display: none;
    transition: 0.3s;
}

#in-cart.active {
    display: block
}

#in-cart.active .picture-bicycle-inCart {
    width: 50%;
    height: 120px;
}

#list-info-cart {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    background-color: #f9f9f9;
}

#list-info-cart thead {
    background-color: rgb(75, 184, 196);
    color: white;
}

#list-info-cart th {
    padding: 10px;
    color: #020e1f;
    text-align: center;
    border: 1px solid #ddd;
}

#table-body-cart {
    background-color: var(--white-color);
}

#table-body-cart td {
    padding: 8px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 16px;
}

#table-body-cart tr:hover {
    background-color: #91a897;
}
.cart-item.selected {
    background-color: #91a897;
}

#table-body-cart button {
    width: 75px;
    height: 30px;
    padding: 6px 12px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#table-body-cart button:hover {
    background-color: black;
}

.actions-in-cart {
    background-color: #333;
    min-width: 140px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: bold;
    padding: 0 18px;
    font-size: 16px;
}

.count-info {
    position: absolute;
    top: 10px;
    right: 100px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#count-noti {
    right: 60px;
}

#title-profile {
    position: fixed;
    top: 19%;
    right: 35%;
    width: 300px;
    height: 8%;
    background-color: #867f7f;
    z-index: 502;
    font-size: 24px;
    font-weight: bolder;
    border: 2px solid #444;
    border-left: none;
    border-right: none;
    border-top: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 502;
    display: none;
    transition: 0.3s;
}

#close-profile {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    color: #dedede;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #020e1f;
    cursor: pointer;
    z-index: 503;
}

#close-profile:hover {
    background-color: var(--second-color);
    color: #020e1f;
}

#in-profile {
    position: fixed;
    top: 25%;
    right: 35%;
    width: 300px;
    height: 400px;
    background-color: #867f7f;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px 30px 10px 30px;
    z-index: 501;
    display: none;
    transition: 0.3s;
}

#avt-in-profile {
    position: relative;
    width: 100px;
    height: 100px;
    left: 70px;
    border-radius: 50%;
    z-index: 600;
    cursor: pointer;
}

#in-profile div {
    position: relative;
    top: 20px;

}

.info-profile {
    background-color: #333;
    color: var(--white-color);
    padding: 5px 10px;
}

#update-profile {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: #333;
    top: 365px;
    left: 110px;
    color: var(--white-color);
    cursor: pointer;
}

#update-profile:hover {
    background-color: black;
}

#title-list-borrow {
    position: fixed;
    top: 12%;
    right: 3%;
    width: 80%;
    height: 8%;
    background-color: #c7bdbd;
    z-index: 502;
    font-size: 24px;
    font-weight: bolder;
    border: 2px solid #444;
    border-left: none;
    border-right: none;
    border-top: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: none;
    z-index: 502;
    transition: 0.3s;
}

#close-list-borrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    color: #dedede;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #020e1f;
    cursor: pointer;
    z-index: 503;
}

#close-list-borrow:hover {
    background-color: var(--second-color);
    color: #020e1f;
}

#in-list-borrow {
    position: fixed;
    top: 18%;
    right: 3%;
    width: 80%;
    height: 80%;
    background-color: #c9c0c0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px 10px 10px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 501;
    display: none;
    transition: 0.3s;
}

.picture-bicycle-borrow {
    width: 50%;
    height: 100px;
}

#list-bicycle-borrow {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    background-color: #f9f9f9;
}

#list-bicycle-borrow thead {
    background-color: rgb(75, 184, 196);
    color: white;
}

#list-bicycle-borrow th {
    padding: 10px;
    color: #020e1f;
    text-align: center;
    border: 1px solid #ddd;
}

#table-body-list-borrow {
    background-color: var(--white-color);
}

#table-body-list-borrow td {
    padding: 8px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 16px;
}

#table-body-list-borrow tr:hover {
    background-color: #91a897;
}

#filter-by {
    position: fixed;
    right: 0;
    top: 145px;
    width: 235px;
    height: 550px;
    background-color: #d6d2d2;
    box-shadow: -2px -2px 4px #444;
    border-radius: 5px;
    z-index: 100;
}

#filter-category,
#filter-author {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    padding: 5px 10px;
    border: 2px solid #444;
}

#filter-author {
    top: 300px;
}

#icon-filter-category,
#icon-filter-author {
    position: absolute;
    top: 26px;
    right: 25px;
    color: black;
    cursor: pointer;
}

#icon-filter-author {
    top: 305px;
}

#option-category,
#option-author {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 200px;
    height: 200px;
    overflow-y: auto;
    background-color: #dedede;
    border-radius: 3px;

}

#option-author {
    top: 340px;
}

#option-category div:hover,
#option-author div:hover {
    cursor: pointer;
    background-color: #444;
    color: #dedede;
}


@media (max-width: 768px) {
    #list-bicycle {
        width: 100%;
    }

    #list-bicycle li {
        flex-basis: 50%;
    }

    #confirm-actions {
        top: 300px;
        left: 400px;
    }

    #btn-edit-content {
        top: 40%;
        left: 45%;
    }

    .picture-bicycle-inCart {
        width: 100%;
        height: 80px;
    }

    .picture-bicycle-borrow {
        width: 100%;
        height: 100px;
    }

    #in-profile {
        right: 10%;
    }

    #title-profile {
        right: 10%;
    }

    .filter-by-status {
        left: 100px;
    }

    #option-filter-status {
        left: 100px;
        z-index: 1000;
    }

    /* #arrow-back-icon{
        right: 65%;
    } */
}